@import url(variables.css);

.btnDiv{
    display: flex;
    justify-content: flex-end;
}

.buttonVisability{
    background-color: var(--comp-background);
    border: 6px ridge var(--border-color);
    height: 42.3px;
}

.buttonVisability:hover{
    cursor: pointer;
}

.buttonVisability:active {
    box-shadow: inset 1px 1px var(--shadow-color);
    transform: translateY(3px);
}


.divWrapper{
    background-color: var(--background);
    border: 9px ridge var(--border-color);
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    overflow: auto;
    max-height: 100%;
    box-sizing: border-box;
}

.ulElement{
    padding: 0 50px 50px 50px;
    list-style: none;
    margin-top: -20px;
}

.detailTitle{
    text-decoration: underline;
    padding-top: 30px;
    
}

.liContainer h2{
    margin-bottom: 0.3em;
}