@import url(variables.css);

.buttonVisability{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}

.ulWrapper{
    background-color: var(--background);
    border: 9px ridge var(--border-color);
    padding: 0 50px 50px 50px;
    list-style: none;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    overflow: auto;
    max-height: 100%;
    box-sizing: border-box;
}

.detailTitle{
    text-decoration: underline;
    padding-top: 30px;
    
}

.liContainer h2{
    margin-bottom: 0.3em;
}