@import url(variables.css);

.ulWrapper{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    margin: 50px 10vw;
}

.liElement{
    margin: 30px;
    text-align: center;
    border-radius: 5px;
    /* padding: 4px; */
    border: 9px ridge var(--border-color);
    inline-size: min-content;
    background-color: var(--comp-background);
}

.liElement:hover{
    cursor: pointer;
}

.liElement:active {
    box-shadow: -1.5px -1.5px var(--border-color);
    transform: translateY(3px);
}

.imgElement{
    width: 15vw;
    outline: 9px ridge var(--border-color);
    border-radius: 2px 2px 0 0;
}