.chopstickGifWrapper{
    background-color: rgb(45, 156, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 9px ridge lightgrey;
    border-right: 9px ridge lightgrey;
    border-left: 9px ridge lightgrey;
}
.chopstickGif{
    margin-top: -20px;
}
.chopstickTitle{
    margin-top: 50px;
    font-variant: small-caps;
    text-decoration: underline;
}

.divWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 50px 0;
    background-color: rgb(45, 156, 151);
    border-right: 9px ridge lightgrey;
    border-bottom: 9px ridge lightgrey;
    border-left: 9px ridge lightgrey;
}

.searchInput, .searchBtn {
    border-radius: 5px;
    padding: 5px;
    border: 0px;
    background-color: rgb(230, 230, 230);
}

.searchInput {
    width: 50%;
    /* height: 41px; */
    font-size: 1.5em;
    padding-left: 2%;
    outline: none;
    border: 6px ridge lightgrey;
}

.searchInput:active {
    box-shadow: inset 2px 2px #858585;
    transform: translateY(3px);
}

.searchBtn {
    /* background-color: transparent; */
    margin-left: 1%;
    /* padding: 4px; */
    border: 6px ridge lightgrey;
}

.searchBtn:hover{
    /* padding: 0px; */
    cursor: pointer;
}

.searchBtn:active {
    box-shadow: inset 1px 1px #858585;
    transform: translateY(3px);
}

.reactSvg{
    fill: black;
}