.divWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
    background-color: aqua;
}

.searchInput, .searchBtn {
    border-radius: 30px;
    padding: 5px;
    border: 0px;
}

.searchInput {
    width: 50%;
    /* height: 41px; */
    font-size: 2em;
    padding-left: 2%;
    outline: none;
}

.searchBtn {
    background-color: transparent;
    margin-left: 1%;
}

.searchBtn:hover{
    transition: all 0.2s ease-out;
    opacity: 0.4;
}

.reactSvg{
    fill: black;
}


/* doesnt work: */
/* .reactSvg:hover{
    box-shadow: 2px 2px red;

} */